In [1]:
# run DataLoader to get the datasets
%run DataLoader.ipynb

In [19]:
display(character_metadata_bechdel)

unique_count_wiki = character_metadata_bechdel['1. Wikipedia movie ID'].nunique()
unique_count_freebase = character_metadata_bechdel['2. Freebase movie ID'].nunique()
print("Number of unique Wikipedia movie ID values:", unique_count_wiki)
print("Number of unique Freebase movie ID values:", unique_count_freebase)
# same number of unique movies
# for some actors the gender is NaN, this means we will lose those in the process

,1. Wikipedia movie ID,2. Freebase movie ID,3. Movie release date,4. Character name,5. Actor date of birth,6. Actor gender,7. Actor height (in meters),8. Actor ethnicity (Freebase ID),9. Actor name,10. Actor age at movie release,11. Freebase character/actor map ID,12. Freebase character ID,13. Freebase actor ID
38,2238856,/m/06yc6v,2005-01,Michael,NaN,M,NaN,NaN,Hector Elias,NaN,/m/0bf1hh6,/m/0g98dth,/m/05pxr49
39,2238856,/m/06yc6v,2005-01,Richard Swersey,1959-09-11,M,1.78,NaN,John Hawkes,NaN,/m/0k0jnm,/m/0g98dqk,/m/0785v8
40,2238856,/m/06yc6v,2005-01,Christine Jesperson,1974-02-15,F,NaN,NaN,Miranda July,NaN,/m/0k0jng,/m/0g98dqs,/m/06s5pl
41,2238856,/m/06yc6v,2005-01,Peter Swersey,NaN,M,NaN,NaN,Miles Thompson,NaN,/m/0k0jns,/m/0g98dq9,/m/0k0jml
42,2238856,/m/06yc6v,2005-01,Robby Swersey,1998-04-14,M,NaN,NaN,Brandon Ratcliff,NaN,/m/09hyqd5,/m/0g98dtr,/m/0287qtg
...,...,...,...,...,...,...,...,...,...,...,...,...,...
450598,2828945,/m/085bgh,1903-05,Fish,NaN,NaN,NaN,NaN,Norman Whitten,NaN,/m/0ltrzzd,/m/0ltrzzh,/m/0lcrrbv
450599,2828945,/m/085bgh,1903-05,Mad Hatter,NaN,NaN,NaN,NaN,Norman Whitten,NaN,/m/0ltrzvk,/m/0ltrzvn,/m/0lcrrbv
450607,20244619,/m/04_0j2b,1972,NaN,1944-08-18,F,NaN,NaN,Helena Rojo,27.0,/m/0cg4zb1,NaN,/m/0grdnq
450608,20244619,/m/04_0j2b,1972,NaN,NaN,NaN,NaN,NaN,Hernán Romero,NaN,/m/0gc63cq,NaN,/m/0gc63cv
450609,20244619,/m/04_0j2b,1972,NaN,NaN,NaN,NaN,NaN,Orlando Sacha,NaN,/m/0gcb5f4,NaN,/m/0bnnnvq

Number of unique Wikipedia movie ID values: 6202
Number of unique Freebase movie ID values: 6202

In [21]:
# Group by 1. Wikipedia movie ID and 6. Actor gender, then count the occurrences of each gender
gender_counts = character_metadata_bechdel.groupby(['1. Wikipedia movie ID', '6. Actor gender']).size().unstack(fill_value=0)

# Calculate the ratio of female actors to total actors for each movie
gender_counts['female_ratio'] = gender_counts['F'] / (gender_counts['M'] + gender_counts['F'])
#display(gender_counts)

# merge the gender_counts and character_metadata_bechdel
character_metadata_bechdel_ratio = gender_counts.merge(character_metadata_bechdel, \
                                                                    left_index=True, right_on='1. Wikipedia movie ID')
# print the merged DataFrame
print(character_metadata_bechdel_ratio)

# # optional:
# character_metadata_bechdel_ratio = character_metadata_bechdel_ratio.drop(columns=['F', 'M'])

unique_count_wiki_ratio = character_metadata_bechdel_ratio['1. Wikipedia movie ID'].nunique()
print("Number of unique Wikipedia movie ID values:", unique_count_wiki_ratio)

        F   M  female_ratio  1. Wikipedia movie ID 2. Freebase movie ID  \
144507  4   0      1.000000                    330            /m/0ktn59
144508  4   0      1.000000                    330            /m/0ktn59
144509  4   0      1.000000                    330            /m/0ktn59
144510  4   0      1.000000                    330            /m/0ktn59
239890  3  10      0.230769                   3217             /m/014hr
...    ..  ..           ...                    ...                  ...
132781  0   2      0.000000               36899099           /m/0lq63z9
132782  0   2      0.000000               36899099           /m/0lq63z9
132783  0   2      0.000000               36899099           /m/0lq63z9
132784  0   2      0.000000               36899099           /m/0lq63z9
132785  0   2      0.000000               36899099           /m/0lq63z9

       3. Movie release date 4. Character name 5. Actor date of birth  \
144507                  1996               NaN             1941-07-30
144508                  1996               NaN                   1966
144509                  1996               NaN             1944-08-31
144510                  1996               NaN             1935-06-11
239890            1992-10-09      S-Mart Clerk             1965-12-14
...                      ...               ...                    ...
132781                  2012               NaN                    NaN
132782                  2012               NaN             1966-09-07
132783                  2012               NaN             1962-09-23
132784                  2012               NaN                    NaN
132785                  2012               NaN                    NaN

       6. Actor gender  7. Actor height (in meters)  \
144507               F                          NaN
144508               F                          NaN
144509               F                          NaN
144510               F                          NaN
239890               M                         1.87
...                ...                          ...
132781             NaN                          NaN
132782               M                         1.65
132783               M                          NaN
132784             NaN                          NaN
132785             NaN                          NaN

       8. Actor ethnicity (Freebase ID)       9. Actor name  \
144507                        /m/03ttfc    Rosa Maria Sardà
144508                              NaN          Mercè Pons
144509                              NaN        Anna Lizaran
144510                              NaN        Núria Espert
239890                              NaN           Ted Raimi
...                                 ...                 ...
132781                              NaN  Salvatore Li Causi
132782                         /m/0d7wh          Toby Jones
132783                              NaN        Cosimo Fusco
132784                              NaN     Antonio Mancino
132785                              NaN       Fatma Mohamed

        10. Actor age at movie release 11. Freebase character/actor map ID  \
144507                            54.0                          /m/02vbt4w
144508                            29.0                          /m/02vb4j6
144509                            51.0                          /m/02vc7_7
144510                            60.0                          /m/02vbd74
239890                            26.0                          /m/0hgcnkm
...                                ...                                 ...
132781                             NaN                          /m/0n9g5r7
132782                            45.0                          /m/0n9g5qh
132783                            49.0                          /m/0n9g5qn
132784                             NaN                          /m/0n9g5qw
132785                             NaN                          /m/0n9g5r0

       12. Freebase character ID 13. Freebase actor ID
144507                       NaN             /m/0gh6sw
144508                       NaN            /m/0267qhz
144509                       NaN            /m/0263499
144510                       NaN            /m/0263yvy
239890                /m/0hgcnkq              /m/07qn0
...                          ...                   ...
132781                       NaN            /m/0n9g5r5
132782                       NaN             /m/071ywj
132783                       NaN            /m/05mylgp
132784                       NaN            /m/0n9g5qt
132785                       NaN            /m/0gcnm3j

[72384 rows x 16 columns]
Number of unique Wikipedia movie ID values: 6183